<div class="hero" id="who-section">
  <section>
    <div class="columns is-gapless">
      <div class="column is-7">
        <%= render 'main/about/info' %>
      </div>

      <div class="column">
        <%= render 'main/about/contact' %>
      </div>
    </div>
  </section>
</div>
