<div class="container is-fluid" id="who-section">
  <section class="columns is-gapless is-desktop">
    <div class="column">
      <%= render 'main/about/info' %>
    </div>

    <!-- <div class="column is-4">
      <%= render 'main/about/contact' %>
    </div> -->
  </section>
</div>
