<div class="column">
  <div class="card ss_card" id="<%= id %>">
    <div class="card-image">
      <figure class="image is-5by4">
        <%= image_tag image_name, :id => "img_#{id}" %>
      </figure>
    </div>

    <div class="card-content">
      <p class="title is-6 has-text-centered">
        <%= caption %>
      </p>
    </div>
  </div>
</div>
