<div class="hero is-fullheight" id="main-hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-6">
          <section class="hero">
            <div class="hero-body">
              <div>
                <h1 class="title">LayerKeep</h1>
                <h3 >Git focused on 3D.</h3>
                <h4>Version control and tools with a focus on the 3D community.</h4>
                <br/>
                <h4>
                  <%= link_to "Join the Beta.", new_user_registration_path, :class => 'hero-link' %>
                </h4>
              </div>
            </div>
          </section>
        </div>

        <div class="column is-6">
          <%= image_tag "3dprinthero.svg" %>
        </div>
      </div>
    </div>
  </div>
</div>
