<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="container">
    <section class="navbar-start inset-start">
      <div class="navbar-brand">
        <%= image_tag 'layerkeep.svg', :width => '30px' %>
        <a class="navbar-logo navbar-item" href="/">LayerKeep</a>
      </div>

      <% if false %>
      <div class="navbar-item">
        <div class="field">
          <p class="control has-icons-right">
            <span class="icon is-small is-right">
              <i class="fas fa-search"></i>
            </span>

            <input class="input" type="search" placeholder="Search...">
          </p>
        </div>
      </div>
      <% end %>

    </section>

    <div class="navbar-end inset-end">
      <div class="navbar-menu" role="navigation">
        <%= render "shared/landing_menu" %>
      </div>
    </div>
  </div>
</nav>
