  <div class="column is-two-thirds content-box">
    <h1 class="title has-text-grey is-5">Featured</h1>

    <div class="box">
      <%= render "landing_article" %>
      <%= render "landing_article" %>
      <%= render "landing_article" %>
    </div>
  </div>
