<div class="column content-box">
  <h1 class="title has-text-grey is-5">Side Bar</h1>

  <div class="box">
    <p>This is a test</p>
    <p>This is a test</p>
    <p>This is a test</p>
    <p>This is a test</p>
    <p>This is a test</p>
    <p>This is a test</p>
  </div>
</div>
