/*
 *  app.scss
 *  LayerKeep
 * 
 *  Created by Wess Cope (me@wess.io) on 04/24/19
 *  Copyright 2018 WessCope
 */

 @import "colors";

 @import 'utility';
 

 #app {
  min-height: 100vh;

  #layout-column {
    // 
    height: 100%;
  }

  #left-column {
    // width:100% !important;
    height:100% !important;
    background: $left_column_background_color;
    border-right: 1px solid $seperator_color;

    @include mobile {
      .panel-heading {
        @include responsive-font(2vw, 12px, 20px);
      }
    }

  }

  section {
    padding: 0em;
    margin: 1em;
  }

  hr {
    margin: 0.5em !important;
  }

  td.file-details, td.cell-content {
    word-break: break-all;
    white-space: pre-wrap;
  }

  #left-new-button {
    .button {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  #projects-panel, #profiles-panel {
    .panel-heading, .panel-block {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      border: 0;      
      background-color: $left_column_background_color !important;
    }
  }

  #pg-photo-container, #pg-photo-container img {
    height: 100% !important;
  }

  .flex-wrapper {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;

    .message {
      flex-grow: 1;
      
      
      .message-body {
        width: 100%;
        height: 100%;
      }
    }
  }
 }

.has-navbar-fixed-top {
 padding-top: 3.25rem;
}