/*
 *  app.scss
 *  LayerKeep
 * 
 *  Created by Wess Cope (me@wess.io) on 04/24/19
 *  Copyright 2018 WessCope
 */

 @import "colors";

 #app {
  width:100% !important;
  height:100% !important;

  #left-column {
    width:100% !important;
    height:100% !important;
    background: $left_column_background_color;
    border-right: 1px solid $seperator_color;
  }

  section {
    padding: 1em;
  }

  hr {
    margin: 0.5em !important;
  }

  #left-new-button {
    .button {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  #project-panel {
    .panel-heading {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;

      background: $left_column_background_color !important;
    }
  }

 }

