/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@charset "utf-8";

@import 'vars';
@import "navbar";
@import "stripe";
@import 'react-toastify/dist/ReactToastify';

@import 'fontawesome/scss/light';
@import 'fontawesome/scss/regular';
@import 'fontawesome/scss/solid';
@import 'fontawesome/scss/brands';
@import 'fontawesome/scss/fontawesome';

@import 'noty/src/noty';
@import 'noty/src/themes/sunset'; 

@import "diff2html/dist/diff2html";
@import "prismjs/themes/prism";

@import "spinkit/scss/spinkit";
@import "react-image-gallery/styles/scss/image-gallery";

@import "bulma-tooltip/src/sass/index.sass";

.image-gallery-image {
  position: relative;
}
.image-gallery-thumbnails {
  height: 110px;
  position: relative;
}

.image-gallery-thumbnails-container{
  position: absolute;
}

.column {
  min-width: 0;
}

html {
  overflow: auto !important;
}
html, body {
  min-height:100% !important;
  background: $background_color;
}

body {
  // height: 100% !important;
  font-family: 'Nunito Sans', sans-serif !important;
}

#dashboard {
  // height: 100%;
  // padding-top: 3.25rem;
  min-height: 100vh;
  display: flex;
}

.notification {
  z-index:        99999;
  position:       fixed;
  top:            0;
  right:          0;
  left:           0;
  border-radius:  0 !important;
}
