<div class="column social-link" style="background: #37a0ca">
  <%= link_to to, :target => "_blank", class: 'button', style: 'background: #37a0ca' do %>
    <span class="icon" style="background: #37a0ca">
      <i class="fab fa-<%=logo%>"></i>
    </span>
  <% end %>
</div>
